<div class="portfolio-section row-reverse">
    <div class="portfolio-section-img">
        <img src="assets/img/pokedex.png" alt="">
    </div>
    <div class="portfolio-section-content">
        <h3>Pokedex</h3>
        <span class="portfolio-section-green-text ">Angular | TypeScript | HTML | CSS | Firebase </span>
        <span class="portfolio-section-text">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </span>
        <div class="portfolio-section-button-container">
            <button class="livetest-button">Live Test</button>
            <button class="github-button">Github</button>
        </div>
    </div>
</div>
