<div class="about-me">
    <div class="about-me-info">
        <h1>About me</h1>
        <div class="about-me-list">
            <p>Write some information about yourself that is IT related. Why are you passionate about coding? What is
                your source of inspiration for improving your programming skills?
            </p>
            <div class="about-me-sction">
                <div class="icon-container">
                    <img class="icon" src="assets/img/location.png" alt="Profile picture">
                </div>
                <p>Write some information about yourself that is IT related. Why are you passionate about coding? What
            </div>
            <div class="about-me-sction">
                <div class="about-me-sction">
                    <div class="icon-container">
                        <img class="icon2" src="assets/img/lamp.png" alt="Profile picture">
                    </div>
                    <p>Write some information about yourself that is IT related. Why are you passionate about coding?
                        What is
                        your source of inspiration for improving your programming skills?
                </div>
            </div>
            <div class="about-me-sction">
                <div class="about-me-sction">
                    <div class="icon-container">
                        <img class="icon" src="assets/img/puzzle.svg" alt="Profile picture">
                    </div>
                    <p>Write some information about yourself that is IT related. Why are you passionate about coding?
                        What is
                        your source of inspiration for improving your programming skills?
                </div>
            </div>
        </div>
    </div>
    <div class="about-me-profile-container">
        <div class="about-me-profile">
            <img class="ellipse" src="assets/img/ellipse.png" alt="Profile picture">
        </div>
        <img class="" src="assets/img/aboutmeline.png" alt="Profile picture">
    </div>
<img class="purpleshadow" src="assets/img/purpleshadow2.png" alt="">


</div>