<div class="contact-main">
    <div class="contact-header">
        <img src="assets/img/line-contact.svg" alt="Contact" class="contact-image">
        <h1>Contact</h1>
    </div>
    
    <div class="contact-container">
        <div class="contact-text">
            <h2>Got a problem to solve?</h2>
            <p>Encourage people to contact you and describe what role you are interested in. Show that you will add
                value to their projects through your work.</p>
            <p>Need a Frontend developer? <span>Contact me!</span></p>
        </div>
        <div class="form-container">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name.." required>

                <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your email.." required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

                <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your message" style="height:200px"></textarea>
                @if (!message.valid && message.touched) {
                    <span style="color: red">Please enter a message</span>
                }

                <div class="checkbox-container">
                    <input type="checkbox" id="privacy" name="privacy" required [(ngModel)]="privacyChecked">
                    <label for="privacy">I agree to the processing of my data as described in the privacy
                        policy.</label>
                </div>

                <input type="submit" value="Send message :)" [class.button-active]="privacyChecked && message.valid && email.valid && name.valid">

            </form>
        </div>
    </div>
    <div class="contact-shadow">
        <img src="assets/img/purpleshadow4.png" alt="">
    </div>
</div>