.contact-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 32px;
}
h1 {
    font-size: 90px;
    font-weight: 700;
    color: white;
    margin-block-end: 20px;
    margin-block-start: 0;
}

h2 {
    font-size: 32px;
}

.contact-container {
    display: flex;
    justify-content: center;
    height: 50vh;
    background-color: #141D2F;
    color: white;
    gap: 10%;
    padding-left: 100px;
    padding-right: 100px;
}

.contact-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #9747FF;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #141D2F;
    color: white;
    font-size: 16px;
    &::placeholder { 
        color: white; 
    }
}

input[type=submit] {
    background-color: #B6B6B6;
    color: white;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
    font-size: 23px;
    transform: scale(1);
    transition: all 125ms ease-in-out;
    &:hover {
        scale: 1.1;
    }
    &.button-active {
        background-color: #45a049;
    }
}

.form-container {
    border-radius: 5px;
    color: white;
    padding: 20px;
    width: 100%;
    > form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.checkbox-container {
    display: flex;
    align-items: center;
    align-self: flex-start;
    
    gap: 10px;
    margin-bottom: 16px;
    
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    label {
        color: white;
        font-size: 14px;
    }
}