<div class="portfolio-container">
    <div class="portfolio-headline">
        <img src="assets/img/line1-portfolio.svg" alt="">
        <h1>Portfolio</h1>
        <img src="assets/img/line2-portfolio.svg" alt="">
    </div>
    <span>Explore a selection of my work here - Interact with projects to see my skills in action.</span>
    <app-join></app-join>
    <app-pokedex></app-pokedex>
    <app-pixelquest></app-pixelquest>
    <app-simple-crm></app-simple-crm>
    <div class="portfolio-shadow">
        <img src="assets/img/purpleshadow3.png" alt="">
    </div>
</div>