h1 {
    font-size: 90px;
    font-weight: 700;
    color: white;
    margin-block-end: 20px;
    margin-block-start: 0;
}

.portfolio-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2000px;
    color: white;
    font-size: 16px;
    gap: 32px;
}
.portfolio-headline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 32px;
}

.portfolio-shadow {
    position: absolute;
    z-index: -10;
    left: 0;
    top: 800px; // oder top: 10rem; oder top: 10%; je nach gewünschter Einheit
}