<div class="myskills">
    <div class="icons-container">
        <div class="icon-container-row">
            <div class="icon-container">
                <img src="assets/img/html.svg" alt="">
                <span>HTML</span>
            </div>
            <div class="icon-container">
                <img src="assets/img/css.svg" alt="">
                <span>CSS</span>
            </div>
            <div class="icon-container">
                <img src="assets/img/javascript-icon.svg" alt="">
                <span>JavaScript</span>
            </div>
            <div class="icon-container">
                <img src="assets/img/typescript.svg" alt="">
                <span>TypeScript</span>
            </div>
        </div>
        <div class="icon-container-row">
            <div class="icon-container">
                <img src="assets/img/angular.svg" alt="">
                <span>Angular</span>
            </div>
            <div class="icon-container">
                <img src="assets/img/firebase.svg" alt="">
                <span>Firebase</span>
            </div>
            <div class="icon-container">
                <img src="assets/img/git.svg" alt="">
                <span>Git</span>
            </div>
            <div class="icon-container">
                <img src="assets/img/api-icon.svg" alt="">
                <span>Rest-API</span>
            </div>
        </div>
        <div class="icon-container-row">
            <div class="icon-container">
                <img src="assets/img/scrum.svg" alt="">
                <span>Scrum</span>
            </div>
            <div class="icon-container">
                <img src="assets/img/materialdesign.svg" alt="">
                <span>Material</span>
                <span>Design</span>
            </div>
            <div class="icon-container">
                <img src="assets/img/learning.svg" alt="">
                <span>Continually</span>
                <span>learning</span>
            </div>
            <div class="icon-container">
            </div>
        </div>
    </div>
    <div class="skills-text">
        <h1>My Skills</h1>
        <p>Here are some of the technologies and tools I have worked with:</p>
</div>