<div class="hero">
    <div class="portrait" *ngIf="isDesktop else Mobileview">
        <img src="\assets\img\purple_shadow_foto.png" alt="">
        <img class="green-shadow" src="\assets\img\green_shadow_foto.png" alt="">
        <img class="portrait-background" src="\assets\img\hero-character-photo.png" alt="">
        <img class="portrait-foreground" src="\assets\img\hero-character-photo_b.png" alt="">
        <div class="introduction-container">
            <div class="introduction">
                <div class="full-introduction">
                    <div class="iam">
                        <span>I am</span>
                    </div>
                    <div class="name-container">
                        <h1>Marcel Speerschneider</h1>
                        <h2>FRONTEND DEVELOPER</h2>
                    </div>
                </div>
                <button class="green-button">Lets talk</button>
            </div>
        </div>
    </div>
    <div class="vector">
        <svg width="1440" height="1079" viewBox="0 0 1440 1079" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1440 0V712.4C1415.8 724.3 1391 735.9 1365.7 747.3C1172.2 834.1 941.8 908.2 680.9 967.3C402.9 1030.3 150.1 1063 0 1078.6L-2 421.5C234 441.5 351.4 434.372 567.5 385C982 290.3 1279.7 152.1 1440 0Z"
                fill="url(#paint0_radial_11_221)" />
            <defs>
                <radialGradient id="paint0_radial_11_221" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(672 42.5) rotate(82.2154) scale(887.756 1492.19)">
                    <stop offset="0.00372417" stop-color="#1A2743" />
                    <stop offset="0.135417" stop-color="#27334B" />
                    <stop offset="0.719125" stop-color="#141D2F" />
                </radialGradient>
            </defs>
        </svg>
    </div>
    <div class="hero-contact">
        <div class="hero-contact-icons">
            <img class="" src="\assets\img\vector1.svg" alt="phonebutton">
            <img class="" src="\assets\img\githubbutton.svg" alt="githubbutton">
            <img class="" src="\assets\img\emailbutton.svg" alt="emailbutton">
            <img class="" src="\assets\img\linkedinbutton.svg" alt="linkedinbutton">
        </div>
        <span>marcel-speerschneider[at]gmx.de</span>
    </div>
    <div class="scroll-down">
        <span class="scroll-down-text">Scroll down</span>
        <img class="img-90deg" src="\assets\img\vector.png" alt="">
    </div>
    <ng-template #Mobileview>
        <div class="portrait-mobile">
            <img class="purple-shadow" src="\assets\img\purple_shadow_foto.png" alt="">
            <img class="green-shadow" src="\assets\img\green_shadow_foto.png" alt="">
            <img class="portrait-background" src="\assets\img\hero-character-photo.png" alt="">
            <img class="portrait-foreground" src="\assets\img\hero-character-photo_b.png" alt="">
            <div class="introduction-mobile">
                <div class="full-introduction-mobile ">
                    <div class="iam-mobile">
                        <span>I am</span>
                    </div>
                    <div class="name-container">
                        <h1>Marcel Speerschneider</h1>
                        <h2>FRONTEND DEVELOPER</h2>
                    </div>
                </div>
                <button class="green-button">Lets talk</button>
            </div>
        </div>
    </ng-template>

</div>