<div class="portfolio-section">
    <div class="portfolio-section-img">
        <img src="assets/img/join.png" alt="">
    </div>
    <div class="portfolio-section-content">
        <h3>Join</h3>
        <span class="portfolio-section-green-text ">Angular | TypeScript | HTML | CSS | Firebase </span>
        <span class="portfolio-section-text">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </span>
    </div>
</div>