footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 291px;
    color: white;
    border-top: 4px solid #70E61C; 
    background-color: #141D2F;
    z-index: 10;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 5px;
    width: 33%;
}

.name {
    display: flex;
    flex-direction: column;
}

.legal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 33%;

}

.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
    width: 33%;
}